<% if signed_in? %>
<div>
	<dl>
		<dt>Email</dt>
 			<dd><%= current_user.email %></dd>
		<dt>Domain</dt>
		<dd><%= current_user.domain %></dd>
		<dt>Company</dt>
		<dd><%= current_user.company.name %></dd>
		
	
	 <%= link_to 'Sign_out', destroy_user_session_path, method: :delete %>
</div>
<%else%>
 <%= link_to 'Sign_in', new_user_session_path %>
<% end %>